# Environnement Python
venv/
env/
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Archives de build
mel_collecte.zip

# Fichiers système
.DS_Store
Thumbs.db

# Logs/temporaires
home-assistant.log
*.log

.agents
